* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background-color: blue;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 15em;
}
